body {
    display: flex;
    flex-direction: column;
    background: url("/imagens/Assis.png") center center;
    background-size: cover;
    height: 100vh;

}

.overlay {
flex: 1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .55);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.login {

    width: 700px;
    max-width: 50vw;
    padding: 45px;
    margin: 20px;
    background: rgba(255, 255, 255, .10);

    backdrop-filter: blur(20px);

    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    color: white;
}
@media (max-width:760px) {
    .login{
        width: 80vw;
        max-width: 90vw;
        padding: 15px;
    }
}
.login h1 {

    text-align: center;
    font-size: 36px;

}

.login p {

    text-align: center;

    margin: 10px 0 35px;

    color: #ddd;

}

.input {

    position: relative;

    margin-bottom: 20px;

}

.input input {
    caret-color: rgb(8, 228, 228);
    width: 100%;
  color-scheme: dark; 
    padding: 14px 45px;

    border: none;

    border-radius: 10px;

    outline: none;

    background: rgba(255, 255, 255, .15);

    color: white;

}

.input input::placeholder {

    color: #ddd;

}

.input .fa-user,
.input .fa-lock, 
.input .fa-envelope,
.input .fa-calendar-days{

    position: absolute;

    left: 15px;
    top: 15px;

}

#olho {

    position: absolute;

    right: 15px;
    top: 15px;

    cursor: pointer;

}

.extras {

    display: flex;

    justify-content: space-between;

    font-size: 14px;

    margin-bottom: 25px;

}

.extras a {

    color: #00d4ff;

    text-decoration: none;

}

button {

    width: 100%;

    padding: 15px;

    border: none;

    border-radius: 10px;

    background: linear-gradient(90deg, #00AEEF, #00E58A);

    color: white;

    font-size: 17px;

    cursor: pointer;

    transition: .3s;

}

button:hover {

    transform: scale(1.03);

}

span {

    display: block;

    text-align: center;

    margin-top: 25px;

}

span a {

    color: #00d4ff;

    text-decoration: none;

}
/* CADASTRO CSS */
#NomeIdade{
    display: flex;
    flex-wrap: nowrap;
}

footer{
      margin-top: 0;
}