@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f3f3;
}

header {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 40px;
    border-bottom: .001px solid black;
    transition: all 0.3s;
}

header #botaoMenu {
    cursor: pointer;
    width: 30px;
}

header a {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}



.imglado {
    display: flex;
    gap: 3px;
}

.imglado img {
    width: 10%;
    background: transparent;
}

.topicos {
    display: flex;
    gap: 25px;
    list-style: none;
    font-size: 105%;
}

.topicos a:hover {
    cursor: pointer;
    color: rgb(39, 151, 248);
}


main {
    display: flex;
    flex-direction: column;
    margin: 20px;
    flex: 1;
    gap: 3vw;
    text-align: center;
}

.introducao {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h2colorido {
    background: linear-gradient(to right, #007bff, #4dff62);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-size: 180%;
    font-weight: bold;
}

.apresentacao {
    height: 50vh;
}


.blocos-home {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 0 5%;
}

.blocos-home .bloco {
    flex: 1 1 300px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ebebeb;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.274);
}

.botao {
    margin-bottom: 4vh;
    display: flex;
    justify-content: center;
}

.bloco img{
    width: 20%;
}

.botao button {
    background: linear-gradient(to right, #007bff, #4dff62);
    width: 100%;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    border: none;
    transition: all 0.3s;
}

.botao button:hover {
    cursor: pointer;
    box-shadow: 0 6px 12px rgb(39, 151, 248);

}

#chatbot {
    width: 70%;
    height: 600px;
    max-height: 80vh;
    margin: 0 auto;
    display: block;
    border-radius: 20px;
    overflow: hidden;
}


#chatbot iframe,
.pergunte iframe {
    width: 100%;
    height: 100%;
    max-height: 100%;
    pointer-events: auto;
}

.pergunte {
    display: flex;
    align-items: center;
    justify-content: center;
}

.digitacao {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 5px;
    margin: 10px;
}

.digitacao input {
    width: 100%;
    height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    padding: 19px;
    outline: none;
    border-color: #289eff;
    border-radius: 10px;
}

.digitacao button {
    background-color: #0044ff;
    font-size: large;
    border: none;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s;
    color: #fafafa;
}

.digitacao button:hover {
    cursor: pointer;
    box-shadow: 0 6px 12px rgb(39, 151, 248);
}

.digitacao button:active {
    transform: scale(0.9);
}


footer {
    padding: 30px;
    color: white;
    background-color: #1a2a3a;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin-top: 30px;
}

footer .name-time {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

footer .name-time a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

footer .name-time a:hover {
    text-decoration: none;
    color: rgb(69, 127, 235);
}

footer h3 {
    text-transform: uppercase;
    color: #00d4ff
}

.linksFast {
    gap: 5px;
    display: flex;
    color: rgb(255, 255, 255);
    flex-direction: column;
    list-style: none;
    outline-style: none;
}

.linksFast a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

.escondido {
    transition: all 0.3s ease;
    z-index: 1000;
    right: -320px;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 320px;
    
}

.escondido.aberto {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #303030;
    background-color: #f5f5f5;
    right: 0;
    padding: 20px;
    overflow-y: auto;
    z-index: 1000;
}

.escondido button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    min-width: 100%;
    letter-spacing: 1px;
}

.escondido button img {
width: 35px;
margin-right: 100px;
border-radius: 50%;
}

.menuHeader {
    display: flex;
    justify-content: space-around;

    margin-bottom: 20px;
 
}

.menuMain {
    display: flex;
    flex-direction: column;

}

.menuMain #botaoEscuro.Claro {
    margin: 10px;
    color: rgb(0, 0, 0);
    background:#fff09b;
    border-radius: 8px;
    padding: 17px;
}
.menuMain #botaoEscuro {
    margin: 10px;
    color: white;
    background-color: #000000;
    border-radius: 8px;
    padding: 17px;
}

body.Escuro {
    background-color: #222222;
    color: #f5f5f5;
}
body.Escuro .bloco{
    background-color: #222222;
    color: #f5f5f5;
}
body.Escuro .escondido {
    background-color: #222222;
    color: #f5f5f5;
}

body.Escuro header,
footer {
    background-color: #1b1b1b;
    color: #f5f5f5;

    a {
        color: #f5f5f5;
    }
}

.linksFast a:hover {
    color: rgb(69, 127, 235);
}

@media (max-width:600px) {
    header {
        flex-wrap: wrap;
        padding: 15px;
        gap: 8px;
    }

    .topicos {
        position: relative;
    }
}